*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    height: 100vh;
    background-image:linear-gradient(to top, rgba(255, 255, 0, 0.604), rgba(0, 0, 255, 0.574)), url('https:/picsum.photos/2000');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}