*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    height:100vh;
    font-style: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width:50%;
    height: 200px;
    background-color: aqua;
    display: flex;
}
.item{
    width: calc(100% / 3);
    background-color:blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}