*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-size: 40px;
    font-weight:bold;
}
.container{
    width: 700px;
    height: 400px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 200px;
    gap:20px;
  
}
.item{
    background-color: gold;
    border: 3px solid rgb(133, 97, 5);
    display: flex;
    justify-content: center;
    place-self: center;
    /* justify-self: center;
    align-self: center; */

}